In [ ]:
import pandas as pd

df = pd.read_csv("dataset_trot_attele.csv", parse_dates=['date_course'])

display(df.head())
print(f"Dimensions du dataset : {df.shape}")

,race_id,race_number,date_course,horse_id,target_rank,hippodrome,distance,weather_temperature,age,sex,...,driver,entraineur,gains_carriere,cote_matin,avg_red_km_last_5,nb_races_last_5,nb_dai_last_5,avg_place_last_5,days_since_last_race,is_debutant
0,2,2,2025-11-05,16,13,PET,3000,18.0,8,HONGRES,...,J. TRAVERS,St. PROVOOST,27703500.0,18.0,7366.666667,5,0,3.333333,1.0,False
1,2,2,2025-11-05,17,12,PET,3000,18.0,6,FEMELLES,...,A. COLLETTE,- DISP. ART. 27ยง VIII,28295000.0,81.0,7286.666667,5,0,3.000000,1.0,False
2,2,2,2025-11-05,18,2,PET,3000,18.0,8,HONGRES,...,F. NIVARD,TH. RAFFEGEAU,28928500.0,19.0,7330.000000,5,1,4.500000,1.0,False
3,2,2,2025-11-05,19,4,PET,3000,18.0,8,HONGRES,...,A. BARRIER,S.G. DUPONT,29225500.0,12.0,7387.500000,5,0,5.200000,1.0,False
4,2,2,2025-11-05,20,1,PET,3000,18.0,5,MALES,...,E. RAFFIN,Antoine LHERETE,29500000.0,4.5,7285.000000,5,1,3.750000,1.0,False

Dimensions du dataset : (27672, 21)

In [ ]:
categorical_cols = ['hippodrome', 'shoeing_status', 'driver', 'entraineur', 'sex']

for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].astype('category')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27672 entries, 0 to 27671
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   race_id               27672 non-null  int64
 1   race_number           27672 non-null  int64
 2   date_course           27672 non-null  datetime64[ns]
 3   horse_id              27672 non-null  int64
 4   target_rank           27672 non-null  int64
 5   hippodrome            27672 non-null  category
 6   distance              27672 non-null  int64
 7   weather_temperature   23844 non-null  float64
 8   age                   27672 non-null  int64
 9   sex                   27672 non-null  category
 10  shoeing_status        14993 non-null  category
 11  driver                27672 non-null  category
 12  entraineur            27672 non-null  category
 13  gains_carriere        27672 non-null  float64
 14  cote_matin            27672 non-null  float64
 15  avg_red_km_last_5     27672 non-null  float64
 16  nb_races_last_5       27672 non-null  int64
 17  nb_dai_last_5         27672 non-null  int64
 18  avg_place_last_5      22094 non-null  float64
 19  days_since_last_race  27672 non-null  float64
 20  is_debutant           27672 non-null  bool
dtypes: bool(1), category(5), datetime64[ns](1), float64(6), int64(8)
memory usage: 3.5 MB